.insertar{
    background-color: #5CB360 !important;
    width: 25% !important;
    height: 40px !important;
    border-radius: 10px !important;
    color: white !important;
    font-size: 15px !important;
}

.error{
    font-size: 12px !important;
    position: relative !important;
    top: "-20px" !important;
    color: red;
}

.aceptar{
    background-color: #2F89EC !important;
    border-radius: 10px !important;
    color: white !important;
    font-size: 12px !important;
}

.cancelar{
    background-color: #E2E6EC !important;
    border-radius: 10px !important;
    font-size: 12px !important;
}