.error{
    font-size: 12px;
    position: relative;
    top: "-20px";
    color: red;
}

.insertar{
    background-color: #5CB360 !important;
    width: 30% !important;
    height: 40px !important;
    border-radius: 10px !important;
    color: white !important;
    font-size: 15px !important;
}

.aceptar{
    background-color: #2F89EC !important;
    border-radius: 10px !important;
    color: white !important;
    font-size: 12px !important;
}

.cancelar{
    background-color: #E2E6EC !important;
    border-radius: 10px !important;
    font-size: 12px !important;
}

.form-control{
    /* width: 75%; */
    height: 35px !important;
    border-radius: 10px !important;
    border: solid #CACACA 1px !important;
    outline: none !important;
    font-size: 16px !important;
}

footer{
    font-size: 15px;
}

#cc_usuario{
    width: 150px !important;
}

#cc_nombre{
    width: 180px !important;
}

#cc_apellido{
    width: 200px !important;
}

#cc_clave{
    width: 225px !important;
}

#confirmarClave{
    width: 225px !important;
}
